.input {
  border: none;
  border-radius: 0;
  padding-inline-start: 0;
  border-bottom: 1px solid rgba(135, 135, 135, 1);
  width: 100%;
  min-height: 32px;
}

.input:hover {
  border-bottom: 1px solid rgba(100, 57, 224, 1);
}

.input:active {
  border-bottom: 1px solid rgba(100, 57, 224, 1);
}